  <!-- templates/edit.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center p-5">
        <div class='col-sm-6 col-sm-offset-3'>
            <form method='POST' action='/vacations/{{vacation._id}}'>
                <input type='hidden' name='_method' value='PUT'/>
                {% include 'form.html' %}
                <!-- BUTTON -->
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit'>Save</button>
                    <a class='btn btn-primary' href="/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}